@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  color: rgb(56, 56, 56);
  font-family: "Quicksand", sans-serif;
}

a {
  color: rgb(56, 56, 56);

  &:hover {
    color: rgb(85, 85, 85);
  }
}
/* Buttons */
.custom-btn {
  outline: none;
  background-color: transparent;
  border: 1px solid rgb(56, 56, 56);
  padding: 0.175rem 0.4rem;
  border-radius: 3px;
  color: rgb(56, 56, 56);

  &:hover {
    border: 1px solid rgb(85, 85, 85);
    color: rgb(85, 85, 85);
  }
  &:active,
  &:focus {
    outline: none;
  }

  &:disabled {
    border: 1px solid #aaa;
    color: #aaa;
  }

  &-remove {
    color: red;
  }
}

.signup-btn {
  width: 100%;
}

.rate-btn {
  width: 48%;

  &-selected-like {
    background-color: rgb(57, 204, 64);
  }

  &-selected-dislike {
    background-color: rgb(255, 59, 59);
  }

  &-like,
  &-dislike {
    color: #eee;
  }
}
