@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  color: rgb(56, 56, 56);
  font-family: "Quicksand", sans-serif;
}

a {
  color: rgb(56, 56, 56);

  &:hover {
    color: rgb(85, 85, 85);
  }
}
/* Buttons */
.custom-btn {
  outline: none;
  background-color: transparent;
  border: 1px solid rgb(56, 56, 56);
  padding: 0.175rem 0.4rem;
  border-radius: 3px;
  color: rgb(56, 56, 56);

  &:hover {
    border: 1px solid rgb(85, 85, 85);
    color: rgb(85, 85, 85);
  }
  &:active,
  &:focus {
    outline: none;
  }

  &:disabled {
    border: 1px solid #aaa;
    color: #aaa;
  }

  &-remove {
    color: red;
  }

  &-fill {
    background-color: rgb(56, 56, 56);
    border: 1px solid rgb(56, 56, 56);
    color: #eee;
  }
}

.btn-unstyled {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

.btn-100 {
  width: 100%;
}

.btn-checkbox {
  border-radius: 3px;
}

.btn-rounded {
  border-radius: 20px;
}

.btn-close {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 0 0 auto;
}

.rate-btn {
  width: 48%;

  &-selected-like {
    background-color: rgb(56, 56, 56);
  }

  &-selected-dislike {
    background-color: #ff9595;
    border-color: #ff9595 !important;
  }

  &-like,
  &-dislike {
    color: #eee;
  }
}

.active-btn {
  background-color: #000;
  color: #eee;
}

/*
* Select File Input
*/
input[type="file"] {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-label {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: 1px dashed rgb(56, 56, 56);
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.input-file-text {
  margin: 1rem;
}

.upload-list {
  padding: 0;
  background-color: #eee;
  margin: 0.4rem;
  border-radius: 10px;
}
