/*
* Checkbox Styles
*/

.checkbox-btn {
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #eee;
  top: 2px;
  position: absolute;
  right: 10px;

  &-icon {
    margin: 0 auto 0.25rem auto;
  }
}
