/*
* Images Style
*/

.image-item {
  list-style-type: none;
  margin-bottom: 1rem;
  position: relative;

  &-edit-buttons {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  &-rate-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  &-like,
  &-dislike {
    width: 48%;
  }

  &-trash-button {
    padding: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 2rem;
    right: 0.6rem;
    background-color: #eee;
    border-radius: 3px;
  }
}

.trash-icon {
  margin: 0 auto 0.15rem auto;
}
