/*
* Images Style
*/

.image-item {
  list-style-type: none;
  margin-bottom: 1rem;
  position: relative;

  &-buttons {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  &-select-button {
    padding: 0;
    outline: none;
    background: transparent;
    border: 0px solid transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 2rem;
    right: 0.6rem;
    background-color: #eee;
    border-radius: 0.25rem;

    :hover {
      width: 20px;
      height: 20px;
    }

    :active {
      outline: none;
      background: transparent;
      border: 1px solid grey;
    }
  }
}

.trash-icon {
  margin: 0 auto 0.15rem auto;
}
