/*
* Image Styles
*/

.image-item {
  list-style-type: none;
  margin-bottom: 1rem;
  position: relative;
  height: fit-content !important;

  &-wrapper {
    &-guest {
      border: 1px solid #eee;
      border-radius: 10px;
    }
  }

  &-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    &:hover {
      cursor: zoom-in;
    }
  }

  &-edit-buttons {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  &-trash-button {
    padding: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 2rem;
    right: 0.6rem;
    background-color: #eee;
    border-radius: 3px;
  }
}

.trash-icon {
  margin: 0 auto 0.15rem auto;
}
