/*
* Album Update Styles
*/

.card-title-form {
  margin-bottom: 0 !important;

  &-group {
    margin-bottom: 0;
  }

  &-input {
    padding: 0 0.5rem !important;
    font-size: 0.9rem !important;
    font-weight: 700 !important;
    height: 1.5rem;
  }
}
