/*
* ThumbNail Styles
*/

.thumbnail {
  position: relative;
}

.remove {
  &-button {
    position: absolute;
    top: -0.875rem;
    right: 0.175rem;

    outline: none;
    background-color: transparent;
    border: none;
    padding: 0.175rem 0.4rem;
  }
}
